src/conf/xml-resources/web-service-references/TestMouvementsWS/wsdl/localhost_8080/ServicesCommunsV04/TestMouvementsWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://testMouvements/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://testMouvements/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="mouvements" type="tns:mouvements"/>

<xs:element name="mouvementsResponse" type="tns:mouvementsResponse"/>

<xs:complexType name="mouvements">
<xs:sequence>
<xs:element name="d1" type="xs:string" minOccurs="0"/>
<xs:element name="d2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mouvementsResponse">
<xs:sequence>
<xs:element name="return" type="tns:mouvement" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mouvement">
<xs:sequence>
<xs:element name="credit" type="xs:double"/>
<xs:element name="dateOp" type="xs:string" minOccurs="0"/>
<xs:element name="dateVal" type="xs:string" minOccurs="0"/>
<xs:element name="debit" type="xs:double"/>
<xs:element name="operation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>