web/WEB-INF/wsdl/localhost_8080/ServicesCommunsV04/ComptesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://comptes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://comptes/">

<xs:element name="Numcomptes" type="tns:Numcomptes"/>

<xs:element name="NumcomptesResponse" type="tns:NumcomptesResponse"/>

<xs:element name="comptes" type="tns:comptes"/>

<xs:element name="comptesResponse" type="tns:comptesResponse"/>

<xs:complexType name="Numcomptes">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NumcomptesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comptes">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comptesResponse">
<xs:sequence>
<xs:element name="return" type="tns:compte" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compte">
<xs:sequence>
<xs:element name="dateOuverture" type="xs:string" minOccurs="0"/>
<xs:element name="numc" type="xs:int"/>
<xs:element name="solde" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>